<% require "yaml" %>
<% require_relative "../lib/modules" %>
<% @data = read_data %>


      <footer class="row">
        <div class="col-xs-12 hr-container">
          <hr class="col-xs-12">
        </div>
        <div class="col-xs-6">
          <div class="github-link col-xs-5 col-xs-offset-1">
            <a href=<%=@data[:githublink]%>>
              <img src="https://github.com/favicon.ico" class="git-logo"></img>
              <%= @data[:githubusername]%>
            </a>
          </div>
        </div>
      </footer>
